*,
*::after,
*::before {
  box-sizing: border-box;
}




a {
  text-decoration: none;
}

.section {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header-title-link {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.title {
  color: #4bcaff;
}

.header-bg {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  background-color: #35444F;
}

.header-menu {
  display: flex;

}

.header-menu-item {
  padding-top: 26px;
  padding-bottom: 19px;
  border-left: 1px solid white;

}

.header-menu-item:nth-child(1) {
  padding-left: 32px;
  padding-right: 33px;
}

.header-menu-item:nth-child(2) {
  padding-left: 38px;
  padding-right: 38px;
}

.header-menu-item:nth-child(3) {
  padding-left: 40px;
  padding-right: 40px;
}

.header-menu-item:nth-child(4) {
  padding-left: 40px;
  padding-right: 18px;
  border-right: 1px solid white;
}

.header-menu-item a {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.header-menu-item:hover {
  background-color: #222F3A;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  height: fit-content;
  width: 344px;
  outline: none;
  border: 1px solid #000000;
}

.main-navigation-item a {
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding: 27px 44px;
  display: block;
}

.main-navigation a:hover {
  padding-left: 60px;
  background-color: grey;
  color: #000;
}

.content {
  width: 885px;
}

.img-border {
  border: 1px solid #000000;
  width: 885px;
  height: 529px;
}

.img-border img {
  padding: 75px 268px 73px 297px;
}

.content-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
  color: #2C2C2C;
}

.footer {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 40px 0;
}

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-navigation-list {
  margin: 0 10px;

}

.footer-navigation-list a {
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer-navigation-list:hover {
  text-decoration: underline;
  color: #4bcaff;
}

.footer-navigation-list a:hover {
  color: #3181A6;
}

.footer-copuright {
  font-size: 24px;
}